.DS_Store
.remote-sync.json
*CMakeCache.txt*

data
results
*build
*__pycache__*
*CMakeFiles*
*Makefile*
*prediction_*

*.tif
*.tiff
*.png
*.jpg
*.pdf
*.pyc
*.c
*.so
*.out
*.log
*.json
*.cmake
*.dylib
*.npy
